<h1>User list</h1>

<%= paginate(@users) %>
<% @users.each do |user| %>
  <div>
    <%= user.email %><br>
    <%= user.firstname %><br>
    <%= user.lastname %><br>
    <%= user.role %><br>
    <%= link_to "show detail", admin_user_path(user) %>
    <%= link_to "edit", edit_admin_user_path(user) %>
    <%= link_to "delete", admin_user_path(user), method: :delete, data: {confirm: "You sure?"} %>
  </div>
  <hr>
  
<% end %>
<%= paginate(@users) %>